attic
venv
.idea
.vagrant
*.pyc
venv_vagrant
dummy
ubuntu-xenial-16.04-cloudimg-console.log
venv_vanilla
.idea_casa
.idea_uib
venv_vagrant (1)
Vagrantfile
venv_new
dist
webappSunScene.egg-info
Vagrant_scripts
WebAppSunScene.egg-info
secret_settings.py
scheme_calls.graphml
otsun.py
*.sh
comandes.txt
raytrace.py
