attic
venv
.idea
.vagrant
*.pyc
venv_vagrant
dummy
ubuntu-xenial-16.04-cloudimg-console.log
venv_vanilla
.idea_casa
.idea_uib
venv_vagrant (1)
venv_new
dist
webappSunScene.egg-info
WebAppSunScene.egg-info
secret_settings.py
scheme_calls.graphml
otsun.py
comandes.txt
raytrace.py
*.log
OTSunWebApp.egg-info
bootstrap.sh
bootstrap_user.sh
.#local_server.sh
