# install at /etc/systemd/system/
[Unit]
Description=Gunicorn instance to serve my project
After=network.target

[Service]
User=simpleuser
Group=www-data
WorkingDirectory=/home/simpleuser/webappsunsceneproject
Environment="PATH=/home/simpleuser/webappsunsceneproject/venv/bin"
ExecStart=/home/simpleuser/webappsunsceneproject/venv/bin/gunicorn --workers 3 --bind unix:webappsunscene.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
