{% extends "base.html" %}

{% block content %}
    <form method=post enctype=multipart/form-data>
        <input type="hidden" name="next_step" value="confirm">
        <input type="hidden" name="experiment" value="exp1">

        <div class="form-group">
            <label for="FreeCADFile1">FreeCAD file to process:</label>
            <input type="file" class="form-control-file" id="FreeCADFile1" name="freecad_file">
        </div>

        <div class="form-group">
            <label for="PVFile1">Text file with PV data:</label>
            <input type="file" class="form-control-file" id="PVFile1" name="PV_file">
        </div>

        <div class="form-group">
            <label for="lambda1">Initial lambda</label>
            <input type="text" class="form-control" id="lambda1" placeholder="Parameter" name="lambda1">
        </div>

        <div class="form-group">
            <label for="lambda2">Final lambda</label>
            <input type="text" class="form-control" id="lambda2" placeholder="Parameter" name="lambda2">
        </div>

        <div class="form-group">
            <label for="lambda3">Step lambda</label>
            <input type="text" class="form-control" id="lambda3" placeholder="Parameter" name="lambdadelta">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
